.tr {
background-color: rgb(141, 136, 136);
border: 1px solid black ;
font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
letter-spacing: 0.1px;
padding: 3px;
margin: 3px;
border-collapse: collapse;
}

.page-item {
  border-collapse: collapse;
}

.page-link {  
background-color: rgb(255, 255, 255);
border: 1px solid #000000;
border-radius: 3px;
float: left;
border: 1px solid rgb(55, 56, 55);
padding: 3px;
margin: 3px;
}

.page-link:hover {
background-color: #585858; /* Green */
color: white;
box-shadow: 0 12px 16px 0 rgba(136, 134, 134, 0.24), 0 17px 50px 0 rgba(202, 202, 202, 0.19);
}


table {
width: 600px;
height: 300px;
}

th {
width: 20%;
border: 3px solid rgb(0, 0, 0);
}

td {
border: 3px solid rgb(0, 0, 0);
}

.gray {
background-color: rgb(100, 100, 100);
}

.white{
background-color: rgb(255, 255, 255);
}