
section {
    border: 1px solid grey;
    font-family: 'Andika New Basic';
    padding: 40px;
}

.cardContainer {
    border: 1px solid green;
    width: 310px;
}

/*div.cardContainer p {
    word-break: break-all; 
    
}*/

.cardTitle {
    padding: 5px;
}

img {
    width: 200px;
    height: 120px;
}
button {
    border: 1px solid rgb(107, 104, 104);
    border-radius: 50% 20% / 10% 40%;
    height: 40px;
    width: 60px;
    font-size: 16px;
}
.buttonOne {
    background-color: red;
    color: white;
}
.buttonTwo {
    background-color: rgb(116, 179, 16);
    color: yellow;
}
.buttonThree {
    background-color: red;
    color: white;
}