/*  colors
red #dc3545
orange #ffc107
green #198754
blue - #0d6efd
borders - #212529
fonts
  lighter - #6c757d
  darker - #212529

table
  darker #f2f2f2

*/

body {
  font-family: 'Roboto', sans-serif !important;
}

.card {
  border-color: rgb(163, 159, 159);
  border-style: solid;
  padding: 15px;
  width: ;
}

table>tbody tr:nth-child(odd) {
  background-color: gray;
}

table {
  border: 0 10px;
  font-weight: bold;
}

table tr:nth-child(n) {
  padding: 80px;
}

table, th, td {
  border-collapse: collapse;
}

rgba(22, 22, 22, 0.637) td {
  background-color: w(194, 169, 169, 0.637);
  text-align: center;
  font-weight: bolt;
  border-right: salmon;
  box-shadow: inset 0 1px 0 #999999, inset 0 1px 0 #999999;
  padding: 12px 17px;
}

.red {
  background: #dc3545;
  text-align: center;
  border: none;
  padding: 0;
}

.blue {
  background: blue;
  text-align: center;
  border: none;
  padding: 0;
}

.green-reset {
  background: green;
  text-align: center;
  border: none;
  padding: 0;
}

.title-form {
  font-size: 30px;
  margin-bottom: 15px;
  font-family: Arial, Helvetica, sans-serif;
}

.name-form {
  font-size: 15px;
  margin-bottom: 10px;
  font-family: Arial, Helvetica, sans-serif;
}

.first-field-form {
  width: 100%;
  height: 35px;
  border-radius: 4px;
  margin-right: 50px;
}

.name-form2 {
  font-size: 15px;
  margin-bottom: 10px;
  font-family: Arial, Helvetica, sans-serif;
}

.second-field-form {
  width: 100%;
  height: 35px;
  border-radius: 4px;
  margin-right: 50px;
}

td {
  color: #0e0901;
  padding: 12px 17px;
}