/*  colors
red #dc3545
orange #ffc107
green #198754
blue - #0d6efd
borders - #212529
fonts
  lighter - #6c757d
  darker - #212529

table
  darker #f2f2f2

*/
    .content {
              border: 1px solid black;
              
              
         padding: 30px;}

.border{
  
  width: 1190px;
  height: 200px;
  font-family: sans-serif;

}
tr{ 
  background-color:#f2f2f2;
  
}

