body {
    background-color: rgb(129, 204, 129);
}

h1 {
    font-style: italic;
    font-size: 100px;
    color: #e27081;
    opacity: 0.3;
    position: absolute;
    top: 180px;
    display: flex;
    margin: auto;
    text-align: center;
    left: 80px;
}

p a {
    color: rgb(5, 68, 37);
}

caption {
    font-style: italic;
    font-size: 25px;
    text-align: center;
    color: rgb(8, 84, 27);
    text-shadow: 1px 1px 1px #000000;
}

table {
    width: 50%;
    border: 3px solid black;
    border-spacing: 0;
    border-collapse: collapse;
    background: rgb(63, 218, 32);
}

th, td {
    text-align: center;
    font-style: italic;
    font-size: 18px;
    padding: 8px;
    border-bottom: 1px black;
    border-top: 2px black;
}

th {
    background: rgb(5, 109, 31);
    color: rgb(181, 228, 189);
}

tbody tr:nth-child(even) {
    background: rgb(127, 199, 113);
}

.pagination {
    display: inline-block;
    font-style: italic;
    font-size: 18px;
}

.pagination a {
    color: black;
    padding: 5px;
    float: left;
    text-decoration: rgba(25, 153, 50, 0.816);
}

.pagination a.active {
    background-color: rgb(40, 172, 40);
    color: white;
    border-radius: 4px;
}

.pagination a:hover:not(.active) {
    background-color: rgb(82, 153, 107);
    border-radius: 4px;
}
